body {
  margin: 0;
  padding-top: 56px;
  font-family: sans-serif;
}

.container

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 56px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 14px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: white;
  border-radius: 70%;
}
span.bm-burger-bars {
  height: 5% !important;
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

nav a {
  color: white;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: white;
}

/* General sidebar styles */

.bm-menu {
  background: #272a2d;
  padding: 1.5em 1.5em 0;
  font-size: 1.5em;
}

.menu-item {
  padding-top: 1vh;
}

.space{
  padding-left: 20px;
}

.AddContactBtn{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 40px !important;
  width: 50px;
  height: 50px;
  font-size: 2em;
}

#card-text{
  height: 160px;
}

.no-contact{
  float: none;
  position: absolute;
  margin-top: 45vh;
  margin-left: 40%; 
  font-size: 1.3em;
  color: grey;
}

@media (max-width: 767px) {
  #card-text{
    height: 315px;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .no-contact{
    float: none;
    position: absolute;
    margin-top: 45vh;
    margin-left: 20%; 
    font-size: 1.1em;
    color: grey;
  }
}